@page "/about"

<div>
    bilibili: <a href="https://space.bilibili.com/17769310" target="_blank">@@林兹</a>
</div>
<div>
    github: <a href="https://github.com/ZemrudeOvO" target="_blank">@@ZemrudeOvO</a>
</div>
