@page "/"

<PageTitle>菜单页</PageTitle>

<div>
    <NavLink href="/pictures" Match="NavLinkMatch.All"><h1>一些图片</h1></NavLink>
    <NavLink href="/choose" Match="NavLinkMatch.All"><h1>晚上应该吃什么</h1></NavLink>
    <NavLink href="/dices" Match="NavLinkMatch.All"><h1>扔个骰子</h1></NavLink>
    <NavLink href="/about" Match="NavLinkMatch.All"><h1>关于我</h1></NavLink>
</div>